[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

ipdb = "*"
ipython = "*"
"e1839a8" = {editable = true, path = "."}
matplotlib = "*"


[packages]

"beautifulsoup4" = "*"
requests = "*"
"e1839a8" = {path = ".", editable = true}